{% extends "base.html" %}
{% block title %}{{ trans.secretariat }}{% endblock %}
{% block content %}
<div class="container my-5">
  <h2 class="mb-4 text-center">{{ trans.secretariat }}</h2>
  <div class="row">

      <!-- عضو 3 -->
    <div class="col-md-4 col-sm-6 mb-4">
      <div class="card member-card h-100 shadow-sm">
        <img src="{{ url_for('static', filename='images/member3.jpeg') }}" class="card-img-top" alt="عضو 3">
        <div class="card-body text-center">
          <h5 class="card-title">Bengin Teter</h5>
          <p class="card-text">Member of the Secretariat Office<br>Responsible for Financial Department</p>
        </div>
      </div>
    </div>
    <!-- عضو 2 -->
    <div class="col-md-4 col-sm-6 mb-4">
      <div class="card member-card h-100 shadow-sm">
        <img src="{{ url_for('static', filename='images/member2.jpeg') }}" class="card-img-top" alt="عضو 2">
        <div class="card-body text-center">
          <h5 class="card-title">Ciwan Ali</h5>
          <p class="card-text">Member of the Secretariat Office<br>Responsible for the Organization Department</p>
        </div>
      </div>
    </div>


        <!-- عضو 8 -->
    <div class="col-md-4 col-sm-6 mb-4">
      <div class="card member-card h-100 shadow-sm">
        <img src="{{ url_for('static', filename='images/member8.jpeg') }}" class="card-img-top" alt="عضو 8">
        <div class="card-body text-center">
          <h5 class="card-title">Shivan Ibrahim</h5>
          <p class="card-text">Member of the Secretariat Office<br>Responsible for the Relations Department</p>
        </div>
      </div>
    </div>
    <!-- عضو 4 -->
    <div class="col-md-4 col-sm-6 mb-4">
      <div class="card member-card h-100 shadow-sm">
        <img src="{{ url_for('static', filename='images/member4.jpeg') }}" class="card-img-top" alt="عضو 4">
        <div class="card-body text-center">
          <h5 class="card-title">Renas Abd Alrahman</h5>
          <p class="card-text">Member of the Secretariat Office</p>
        </div>
      </div>
    </div>
        <!-- عضو 1 -->
    <div class="col-md-4 col-sm-6 mb-4">
      <div class="card member-card h-100 shadow-sm">
        <img src="{{ url_for('static', filename='images/member1.jpg') }}" class="card-img-top" alt="عضو 1">
        <div class="card-body text-center">
          <h5 class="card-title">DILSHAD MELA HEMZA</h5>
          <p class="card-text">Member of the Secretariat Office<br>Responsible for the Media Department</p>
        </div>
      </div>
    </div>
    <!-- عضو 5 -->
    <div class="col-md-4 col-sm-6 mb-4">
      <div class="card member-card h-100 shadow-sm">
        <img src="{{ url_for('static', filename='images/member5.jpeg') }}" class="card-img-top" alt="عضو 5">
        <div class="card-body text-center">
          <h5 class="card-title">Mervan Badini</h5>
          <p class="card-text">Member of the Secretariat Office<br>Responsible for the Department of Statistics and Planning</p>
        </div>
      </div>
    </div>

    <!-- عضو 6 -->
    <div class="col-md-4 col-sm-6 mb-4">
      <div class="card member-card h-100 shadow-sm">
        <img src="{{ url_for('static', filename='images/member6.jpeg') }}" class="card-img-top" alt="عضو 6">
        <div class="card-body text-center">
          <h5 class="card-title">Ehmed Haco</h5>
          <p class="card-text">Member of the Secretariat Office<br>Responsible for the Department of Student Affairs</p>
        </div>
      </div>
    </div>

    <!-- عضو 7 -->
    <div class="col-md-4 col-sm-6 mb-4">
      <div class="card member-card h-100 shadow-sm">
        <img src="{{ url_for('static', filename='images/member7.jpeg') }}" class="card-img-top" alt="عضو 7">
        <div class="card-body text-center">
          <h5 class="card-title">Shereen Abdo</h5>
          <p class="card-text">Member of the Secretariat Office<br>Responsible for the Department of Artistic Activities</p>
        </div>
      </div>
    </div>



    <!-- عضو 9 -->
    <div class="col-md-4 col-sm-6 mb-4">
      <div class="card member-card h-100 shadow-sm">
        <img src="{{ url_for('static', filename='images/number9.jpeg') }}" class="card-img-top" alt="عضو 9">
        <div class="card-body text-center">
          <h5 class="card-title">Mohammad Ismat</h5>
          <p class="card-text">Member of the Secretariat Office<br>Responsible for the Department of Culture and Training</p>
        </div>
      </div>
    </div>

    <!-- عضو 10 -->
    <div class="col-md-4 col-sm-6 mb-4">
      <div class="card member-card h-100 shadow-sm">
        <img src="{{ url_for('static', filename='images/number9.jpeg') }}" class="card-img-top" alt="عضو 10">
        <div class="card-body text-center">
          <h5 class="card-title">Deham Osman</h5>
          <p class="card-text">Member of the Secretariat Office</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}