{% extends "base.html" %}
{% block title %}{{ trans.secretariat }}{% endblock %}

{% block content %}

<div class="container my-5">
  <h2 class="mb-4 text-center">{{ trans.secretariat }}</h2>
  <div class="row">
    {% for member in secretariat_members %}
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card member-card h-100 shadow-sm">
          {# عرض الصورة من مجلد images #}
<div class="member-img-wrapper">
  <img src="{{ url_for('static', filename='images/' ~ member.image) }}" 
       class="member-img"
       alt="{{ member['name_' ~ lang] }}">
</div>


          <div class="card-body text-center">
            <h5 class="card-title">{{ member['name_' ~ lang] }}</h5>
            <p class="card-text">{{ member['role_' ~ lang]|safe }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
